#fechaReporteSemestral {
    color: red;
}


/*Inicio de: Revisar si se deja este efecto, o solo dejar la que solo da Bootsrap por defecto*/

#encabezado {
    font-size: 2.5vw;
}

#mensajeFecha {
    font-size: 2.5vw;
}


/*Fin de: Revisar si se deja este efecto, o solo dejar la que solo da Bootsrap por defecto*/

textarea {
    resize: none;
}