.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#login {
    /* border: 1px solid red;*/
    min-height: calc(100vh - 100px - 300px);
}

#login .container #login-row #login-column #login-box {
    margin-top: 50px;
    max-width: 600px;
    height: 320px;
    /*border: 1px solid #9C9C9C;
    background-color: #EAEAEA;*/
}